In [3]:
import os
import numpy as np
import pandas as pd

path = "/Users/prati/Downloads/Compressed/Extractive_Summartization-master/Necessary Codes/dataframes/"

data = pd.DataFrame()

for i in os.listdir(path):
    df = pd.read_pickle(path+i)
    df['temp_col_len'] = df.full.str.len()
    print(i)
    data = pd.concat([data, df[df['temp_col_len']>1].drop(columns = ['temp_col_len'])], axis = 0, ignore_index=True)
data

combined.pickle
dataframe_processed_0_to_29.pickle
dataframe_processed_120_to_149.pickle
dataframe_processed_150_to_179.pickle
dataframe_processed_180_to_209.pickle
dataframe_processed_210_to_239.pickle
dataframe_processed_240_to_269.pickle
dataframe_processed_270_to_299.pickle
dataframe_processed_30_to_59.pickle
dataframe_processed_60_to_89.pickle
dataframe_processed_90_to_119.pickle

,summary,full,full_orignal,Id
0,appellant terminate organization workman numbe...,judgment order date date number organization h...,"from the judgment and order dated march 12, 19...",0
1,date respondent number obtain decree appellant...,rom judgment order date date number organizati...,"rom the judgment and order dated march 21, 196...",1
2,country organization limited organization*carr...,judgment order date date number calcutta high ...,"the judgment and order dated january 7, 1966 o...",2
3,notice number 22(2 person tax number number co...,judgment order date date number person high or...,"he judgment and order dated march 21, 1966 of ...",3
4,number b j partner firm carry business entitle...,number organization special leave judgment ord...,"6. appeals by special leave from, the judgment...",4
...,...,...,...,...
595,assessee company hold certain share organizati...,ls certificate special leave judgment order da...,ls by certificate/special leave from the judgm...,115
596,organization organization officer issue notice...,ls special leave judgment order date date numb...,ls by special leave from the judgment and orde...,116
597,question whether amount represent interest amo...,order date date number assam nagaland high org...,"and order dated august 22, 1966 of the assam a...",117
598,dispute date raise organization appellant comp...,award date date number organization person per...,"from the award dated february 18, 1970 of the ...",118
599,assessee firm deriving organization security p...,judgment order date date number country high o...,"he judgment and order dated september 20, 1967...",119

In [2]:
GS_index = (np.array(data.index))[-50:]
GS_index

array([203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215,
       216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228,
       229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241,
       242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252], dtype=int64)

In [8]:
# Sentence tokenization
# and tagging of document number t sentences

temp = data.copy()

set = temp.index
# set = np.arange(0, 51, 1)
# set = [0, 1, 2]

# temp = data

full_sent = pd.DataFrame()
summ_sent = pd.DataFrame()

full_docs = []
summ_docs = []
GS_docs = []

ori_sent = pd.DataFrame()
GS_sent = pd.DataFrame()
GS_ori_sent = pd.DataFrame()

for i in set:
  if i not in GS_index:
    full = temp['full'].iloc[i]
    summary = temp['summary'].iloc[i]
    ori = temp['full_orignal'].iloc[i]
    
#     print(full)
#     break
    v = full.split("*")    
    t1 = pd.DataFrame(v)
    
    v = summary.split('*')
    t2 = pd.DataFrame(v)
    
    v = ori.split('*')
    t5 = pd.DataFrame(v)
    
    t3 = np.linspace(i, i, num = len(t1))
    t4 = np.linspace(i, i, num = len(t2))

    # print(t1)
    
    if(len(t1)==len(t5)):
        full_docs = np.append(full_docs, t3)
        summ_docs = np.append(summ_docs, t4)
        full_sent = pd.concat([full_sent, t1], ignore_index=True)
        summ_sent = pd.concat([summ_sent, t2], ignore_index=True)
        ori_sent = pd.concat([ori_sent, t5], ignore_index=True)
    else:
        print("Doc No. : ", i,"has a problem")
  
  else:
    full = temp['full'].iloc[i]
    v = full.split("*")    
    t1 = pd.DataFrame(v)

    ori = temp['full_orignal'].iloc[i]
    v = ori.split('*')
    t5 = pd.DataFrame(v)

    t3 = np.linspace(i, i, num = len(t1))

    if(len(t1)==len(t5)):
        GS_docs = np.append(GS_docs, t3)
        GS_sent = pd.concat([GS_sent, t1], ignore_index=True)
        GS_ori_sent = pd.concat([GS_ori_sent, t5], ignore_index=True)
    else:
      print("GS Doc No. : ", i-1060,"has a problem")

print('summary sentence tokenization')
print(len(summ_docs))
print(len(summ_sent))
print(len(full_docs))
print(len(full_sent))
print(len(ori_sent))

print(len(GS_docs))
print(len(GS_sent))
print(len(GS_ori_sent))

# summ_sent_mod = pd.DataFrame(summ_sent, columns=['Summary_Sentences'])
summ_sent_mod = summ_sent.set_axis(['Sentences'], axis=1)
# summ_sent_mod

full_sent_mod = full_sent.set_axis(['Sentences'], axis=1)
# full_sent_mod

Doc No. :  12 has a problem
Doc No. :  31 has a problem
Doc No. :  47 has a problem
Doc No. :  52 has a problem
Doc No. :  68 has a problem
Doc No. :  87 has a problem
Doc No. :  98 has a problem
Doc No. :  115 has a problem
Doc No. :  118 has a problem
Doc No. :  121 has a problem
Doc No. :  131 has a problem
Doc No. :  147 has a problem
Doc No. :  150 has a problem
Doc No. :  151 has a problem
Doc No. :  160 has a problem
Doc No. :  168 has a problem
Doc No. :  185 has a problem
Doc No. :  193 has a problem
Doc No. :  194 has a problem
GS Doc No. :  -855 has a problem
GS Doc No. :  -851 has a problem
GS Doc No. :  -839 has a problem
Doc No. :  312 has a problem
Doc No. :  331 has a problem
Doc No. :  347 has a problem
Doc No. :  352 has a problem
Doc No. :  368 has a problem
Doc No. :  387 has a problem
Doc No. :  398 has a problem
Doc No. :  415 has a problem
Doc No. :  418 has a problem
Doc No. :  421 has a problem
Doc No. :  431 has a problem
Doc No. :  447 has a problem
Doc No. :  450 has a problem
Doc No. :  451 has a problem
Doc No. :  460 has a problem
Doc No. :  468 has a problem
Doc No. :  485 has a problem
Doc No. :  493 has a problem
Doc No. :  494 has a problem
Doc No. :  505 has a problem
Doc No. :  509 has a problem
Doc No. :  521 has a problem
summary sentence tokenization
14361
14361
69069
69069
69069
4719
4719
4719

In [9]:
# combining summary and full-text sentences for tfidf vectorization of sentences

# -----------------------------------------------------------------------------------------------------------------------------

GS_sent_mod = GS_sent.set_axis(['Sentences'], axis=1)

tmp1 = pd.DataFrame(summ_sent_mod)
tmp2 = pd.DataFrame(full_sent_mod)
tmp3 = pd.DataFrame(GS_sent_mod)
combined = pd.concat([tmp1, tmp2], axis = 0, ignore_index=True, sort = False)
combined = pd.concat([combined, tmp3], axis = 0, ignore_index=True, sort = False)
combined.columns = ['sents']

# -----------------------------------------------------------------------------------------------------------------------------

print(combined.shape)

(88149, 1)

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer as tuttu
from nltk.tokenize import RegexpTokenizer
import scipy

# -----------------------------------------------------------------------------------------------------------------------------

token = RegexpTokenizer(r'[a-zA-Z0-9]+')
tfidf_func = tuttu(ngram_range = (1, 1), tokenizer = token.tokenize, lowercase = True)
tfidf = tfidf_func.fit_transform(combined['sents'])

# -----------------------------------------------------------------------------------------------------------------------------

tfidf.shape

C:\Users\prati\AppData\Roaming\Python\Python311\site-packages\sklearn\feature_extraction\text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

(88149, 13753)

In [11]:
# dimension reduction
from sklearn.decomposition import PCA, TruncatedSVD

svd = TruncatedSVD(100)
a = svd.fit_transform(tfidf[:,:])

del tfidf

print(a.shape)
print(a)

(88149, 100)
[[ 0.22565694  0.1963993   0.08186305 ... -0.02329515 -0.05306991
  -0.02379196]
 [ 0.02082092  0.05376391 -0.00826877 ... -0.02675301  0.04439438
  -0.07184504]
 [ 0.06535842  0.16459737  0.03341565 ...  0.05024299  0.02298391
   0.00387506]
 ...
 [ 0.09605587  0.04584491 -0.04333802 ...  0.05675515 -0.04230288
   0.01556567]
 [ 0.15883919  0.03815834 -0.06392485 ... -0.00491632  0.00254754
  -0.01162616]
 [ 0.21907944  0.0343309  -0.05066817 ... -0.08739979 -0.09183262
   0.03163885]]

In [12]:
# ## Function to reduce the DF size
def reduce_mem_usage(df, verbose=True):
     numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
     start_mem = df.memory_usage().sum() / 1024**2    
     for col in df.columns:
         col_type = df[col].dtypes
         if col_type in numerics:
             c_min = df[col].min()
             c_max = df[col].max()
             if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                 df[col] = df[col].astype(np.float16)
             elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                 df[col] = df[col].astype(np.float32)
             else:
                 df[col] = df[col].astype(np.float64)  
         if(col%20==0):
             print("column no : ", col, " done!")
     end_mem = df.memory_usage().sum() / 1024**2
     if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
     return df

x2 = pd.DataFrame(a)
x2 = reduce_mem_usage(x2)

column no :  0  done!
column no :  20  done!
column no :  40  done!
column no :  60  done!
column no :  80  done!
Mem. usage decreased to 16.81 Mb (75.0% reduction)

In [13]:
x2 = pd.DataFrame(a)
print(x2.shape)

summ_tfidf = x2.iloc[:len(summ_sent_mod)]
full_tfidf = x2.iloc[len(summ_sent_mod):len(summ_sent_mod)+len(full_sent_mod)]
GS_tfidf = x2.iloc[len(summ_sent_mod)+len(full_sent_mod):]

print(len(summ_docs))
print(len(full_docs))
print(len(GS_docs))

summ_tfidf['doc_id'] = summ_docs
full_tfidf['doc_id'] = full_docs
GS_tfidf['doc_id'] = full_docs

full_tfidf

(88149, 100)
14361
69069
4719

C:\Users\prati\AppData\Local\Temp\ipykernel_13200\1545955771.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summ_tfidf['doc_id'] = summ_docs
C:\Users\prati\AppData\Local\Temp\ipykernel_13200\1545955771.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_tfidf['doc_id'] = full_docs

ValueError: Length of values (69069) does not match length of index (4719)

In [20]:
from sklearn import preprocessing

# -----------------------------------------------------------------------------------------------------------------------------

summ_tfidf_normalized = preprocessing.normalize(summ_tfidf.drop(['doc_id'], axis=1), norm='l2')
summ_tfidf_normalized = pd.DataFrame(summ_tfidf_normalized)
summ_tfidf_normalized.columns = summ_tfidf.drop(['doc_id'], axis=1).columns
summ_tfidf_normalized['doc_id'] = np.array(summ_tfidf.doc_id)

# -----------------------------------------------------------------------------------------------------------------------------

full_tfidf_normalized = preprocessing.normalize(full_tfidf.drop(['doc_id'], axis=1), norm='l2')
full_tfidf_normalized = pd.DataFrame(full_tfidf_normalized)
full_tfidf_normalized.columns = full_tfidf.drop(['doc_id'], axis=1).columns
full_tfidf_normalized['doc_id'] = np.array(full_tfidf.doc_id)

# -----------------------------------------------------------------------------------------------------------------------------
import pickle

# define the file path and name
filename = 'summ_tfidf_normalizedd.pickle'

# open a file in binary write mode
with open(filename, 'wb') as f:
    # serialize and write the dataframe to the file
    pickle.dump(summ_tfidf_normalized, f)


#------------------------------------------------------------------------------------------------------------------------------
full_tfidf_normalized

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,doc_id
0,0.291654,0.337911,-0.352328,0.026092,-0.061148,-0.151230,-0.025926,-0.027003,0.180599,0.499574,...,0.005921,-0.016160,-0.002281,-0.039735,0.026600,0.034441,0.032210,-0.010578,0.005190,0.0
1,0.908179,-0.039031,0.381643,0.104143,-0.088458,-0.008414,-0.066026,-0.035028,-0.007140,0.011554,...,0.000935,0.000165,-0.001899,-0.000103,-0.001151,0.001490,-0.000977,-0.000242,0.002010,0.0
2,0.589366,0.595178,0.366344,0.110815,-0.190910,-0.078412,-0.056805,-0.015153,0.261873,-0.137452,...,-0.000770,-0.007833,-0.001594,-0.009495,-0.001835,-0.005223,-0.002441,-0.000009,-0.000184,0.0
3,0.595866,0.475411,0.150358,-0.300221,-0.185160,-0.081711,-0.159151,0.023113,-0.002887,-0.043346,...,0.003814,0.001844,-0.002806,0.004271,0.005460,0.003665,-0.007210,0.012259,0.000770,0.0
4,0.755668,0.214197,-0.112009,0.059521,0.123883,-0.152595,0.115437,0.252762,0.169948,0.026277,...,0.036788,-0.012525,-0.015120,0.012481,-0.047024,-0.004635,0.033480,-0.042091,0.006182,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69064,0.251259,0.031353,-0.005674,-0.037892,0.393221,-0.028259,0.099534,-0.080244,-0.066602,-0.104945,...,-0.018986,0.015565,-0.099345,-0.024545,-0.000933,-0.099483,-0.105262,0.000295,0.043113,599.0
69065,0.621439,0.099535,-0.177858,-0.289408,-0.089541,-0.049983,0.048524,-0.084356,-0.090085,-0.084316,...,-0.043053,0.037947,-0.010430,0.084964,0.026843,-0.066394,-0.003873,0.032358,-0.014842,599.0
69066,0.424294,0.226632,-0.150237,-0.301228,0.202872,-0.074265,0.067436,-0.077480,-0.087499,-0.122777,...,-0.037815,0.061702,-0.068141,-0.021217,0.040708,-0.003964,0.044624,0.029112,0.098557,599.0
69067,0.366167,0.185447,-0.228950,-0.068353,-0.049393,-0.028607,0.079945,-0.092737,-0.108417,-0.092146,...,0.040396,0.038800,-0.168673,0.009373,-0.054390,-0.092447,0.016443,-0.000612,0.126294,599.0
69068,0.022534,0.065595,-0.025008,-0.007761,0.010626,0.019376,0.127505,-0.119878,-0.051424,0.032262,...,0.012870,-0.028069,-0.013075,-0.087140,-0.061698,-0.083337,0.081064,0.009721,-0.014113,599.0